@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Caprasimo&family=Montserrat:ital,wght@0,400;0,700;1,400;1,600&family=Poppins:wght@100;200;300;400;600;700&family=Roboto:wght@400;700&family=Spectral&display=swap');

.App {
  text-align: center;
}

body {
  background-image: linear-gradient(rgba(197, 193, 193, 0.2), rgba(24, 24, 24, 0.623)),
    url(../src/media/pics/foodbg.jpeg);
  background-attachment: fixed !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  font-family: 'Caprasimo', cursive;
}

/* Default height for small devices */
#intro-example {
  height: 400px;
}

/* Height for devices larger than 992px */
@media (min-width: 992px) {
  #intro-example {
    height: 600px;
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  body {
    font-size: 1em;
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  body {
    font-size: 1.2em;
  }
}
@media (max-width: 390px) {
  body {
    font-size: .9em;
  }
}
@keyframes ani2 {
  100% {
    opacity: 1;
  }
}
@keyframes ani1 {
  100% {
    transform: scale(1.55);
  }
}
/* RegisterPage */
.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.linkNav {
  box-shadow: inset 0 0 0 0 #716D67;
  color: #716D67;
  padding: 0.3rem 1rem;
  border:1px solid #b9b4b4;
  border-radius: 25px;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.linkNav:hover {
  box-shadow: inset 100px 0 0 0 #716D67;
  color: white;
}
/* bottone */
.bottone {
  transition: .1s;
  font-weight: bold;
}
.bottone:hover {
  box-shadow: 0 5px 15px #e4d509;
  transition: .1s;
}
/* navbar */
#naviga {
  background: linear-gradient(135deg,
  rgba(255, 255, 255, 0.1),
  rgba(255, 255, 255, 0.1),);
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  border: 1px solid rgba(255, 255, 255, 0.16);
}
/* .navbar {
  padding: 0;
  opacity: 0.5;
} */
/* glass */
.glass {
  background: linear-gradient(135deg,
  rgba(255, 255, 255, 0.1),
  rgba(255, 255, 255, 0.1),);
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.36);
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 24px;
  padding: 3em 1em 5em 1em;
}
.glass :where(h1, h4) {
  color: #fff;
  margin: 0;
}
.card h1 {
  font-size: 48px;
}


/* carte */
.carte {
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 5px 5px 15px 2px #2e2d2d;
}
.carte:hover {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  transition: transform 0.2s, box-shadow 0.2s;
}
.formReg {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 50px 40px 40px;
  background: #493c31;
  border-radius: 10px;
  color: white;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
.formReg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transform: skewX(-17deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}
.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.message {
  font-size: 16px;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit {
  width: 100%;
  padding: 10px;
  background-color: #e4d509;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signin {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.signin a {
  color: #e4d509;
  text-decoration: none;
}
.signin span:hover {
  text-decoration: underline;
}

/* LoginPage */
#logo {
  background-color: #6d6c5c;
}
.login-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 50px 40px 40px;
  background: #493c31;
  border-radius: 10px;
  color: white;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}
.form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  transform: skewX(-26deg);
  transform-origin: bottom left;
  border-radius: 10px;
  pointer-events: none;
}
.form img {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 99px;
  border-radius: 50%;
}
.form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.form .input-group {
  position: relative;
}
.form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}
.form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.2s ease-out;
}
.form .input-group input:focus + label, /*animazione in su*/
.form .input-group input:valid + label {
  transform: translateY(-20px);
  color: #e4d509;
  font-size: 0.9rem;
}
.submit-btn {
  display: block;
  margin-left: auto;
  border: none;
  outline: none;
  background: #e4d509;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
}
.forgot-pw {
  color: inherit;
  display: flex;
  text-decoration: none;
}
.forgot-pw:hover {
  text-decoration: underline;
}
#forgot-pw {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 1;
  background: url(./media/pics/foodbg.jpeg) no-repeat center;
  opacity: 0;
  transition: 0.6s;
}

#forgot-pw:target {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.close {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
}
/* .searchWrapper */
.searchWrapper {
  width: 100% !important;
}
.searchBox {
  /* background-color: transparent !important; */
  width: 100% !important;
}
